@import "settings";
@import "foundation";
@import "bourbon/bourbon";

// Or selectively include components
// @import
//   "foundation/components/accordion",
//   "foundation/components/alert-boxes",
//   "foundation/components/block-grid",
//   "foundation/components/breadcrumbs",
//   "foundation/components/button-groups",
//   "foundation/components/buttons",
//   "foundation/components/clearing",
//   "foundation/components/dropdown",
//   "foundation/components/dropdown-buttons",
//   "foundation/components/flex-video",
//   "foundation/components/forms",
//   "foundation/components/grid",
//   "foundation/components/inline-lists",
//   "foundation/components/joyride",
//   "foundation/components/keystrokes",
//   "foundation/components/labels",
//   "foundation/components/magellan",
//   "foundation/components/orbit",
//   "foundation/components/pagination",
//   "foundation/components/panels",
//   "foundation/components/pricing-tables",
//   "foundation/components/progress-bars",
//   "foundation/components/reveal",
//   "foundation/components/side-nav",
//   "foundation/components/split-buttons",
//   "foundation/components/sub-nav",
//   "foundation/components/switches",
//   "foundation/components/tables",
//   "foundation/components/tabs",
//   "foundation/components/thumbs",
//   "foundation/components/tooltips",
//   "foundation/components/top-bar",
//   "foundation/components/type",
//   "foundation/components/offcanvas",
//   "foundation/components/visibility";

$text-direction: rtl;
$header-height: 300px; // 30vmin;
$header-width: 400px; //50vmin;
$icon-size: $header-width / 4;

html {
    border: 0;
    padding: 0;
    margin: 0;  
    height: 100%;
}

body {
    background: url('/img/bg.jpg') no-repeat center center fixed;
    background-size: cover;
    border: 0;
    padding: 0;
    margin: 0;
    padding-top: $header-height / 2;
}

#header {
    position: fixed;
    display: block;
    top: 0;
    right: 0;
    &:after {
        position: absolute;
        top: 0;
        right: 0;
        content: '';
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 0 $header-width $header-height 0;
        border-color: transparent #3f9cbb transparent transparent;
        z-index: -1;
    }
    ul li {
        display: block;
        position: fixed;
        top: 0;
        clear: none;
        right: 0;
    }
    @for $i from 0 to 4 {
        ul li:nth-child(#{$i}) {
            margin-top: ($i - 1) * ($header-height / 4) !important;
            margin-right: (3 - $i) * ($header-width / 4) !important;
        }
    }
}

.header-icon {
    img {
        width: $icon-size;
        height: $icon-size;
    }
}

#huji-logo {
    height: 130px;
    width: 130px * 275 / 433;
    margin-right: 10px;
}

#search-form {
    position: fixed;
    top: 0px;
    right: (3 - 1) * ($header-width / 4) + $icon-size !important;
}
#search-bar {
    background: url('../img/search bar.png') no-repeat right top;
    background-size: contain;
    height: 90px;
    width: 1400px;
    border: 0;
    font-size: 50px;
    padding-right: 40px;
    z-index: 100;
    
    &:focus {
        border: 0;
    }
}

.center {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.buttonlist {
    width: 600px;
    
    .button {
        width: 290px;
        margin-bottom: 10px;
        margin-left: 10px;
    }
    
    h2 {
        width: 100%;
    }
}

.buttontable {
    width: 900px;
    
    .button {
        width: 290px;
        margin-bottom: 10px;
        margin-left: 10px;
    }
    
    h2 {
        width: 100%;
    }
}

#courses {
    width: 900px;
}

table, tr, td, th {
    text-align: right !important;
}

