
#notCourses
    #faculty.center.buttonlist
        select(placeholder="בחר פקולטה...")#buttons
    
    #chug.center.buttonlist
        select(placeholder="בחר חוג...")#buttons
    
    #maslul.center.buttonlist
        select(placeholder="בחר מסלול...")#buttons
    
    #finished.center.buttonlist
        a.button.disabled(href="#", style="width: 100%") הוסף מסלול
    
#courses.center(style="display:none")
    h2#courses-maslul-chug-faculty
    ul.accordion(data-accordion)#courses-accordion
        li.accordion-navigation
            a(href="#year1") שנה א'
            #year1.content.active
                table(style="width: 100%; text-align: right")
                    thead
                        tr
                            th מספר
                            th שם
                            th נ"ז
                    tbody
        li.accordion-navigation
            a(href="#year2") שנה ב'
            #year2.content
                table(style="width: 100%; text-align: right")
                    thead
                        tr
                            th מספר
                            th שם
                            th נ"ז
                    tbody
        li.accordion-navigation
            a(href="#year3") שנה ג'
            #year3.content
                table(style="width: 100%; text-align: right")
                    thead
                        tr
                            th מספר
                            th שם
                            th נ"ז
                    tbody
                    
    a.addMaslul
        img(src="img/plus.png")