#faculty.center.buttonlist
    select(placeholder="בחר פקולטה...")#buttons
    
#chug.center.buttonlist
    select(placeholder="בחר חוג...")#buttons
    
#maslul.center.buttonlist
    select(placeholder="בחר מסלול...")#buttons
    
#courses.center(style="display:none")
    h2#courses-maslul-chug-faculty
    ul.accordion(data-accordion)#courses-accordion
        li.accordion-navigation
            a(href="#panel1a") שנה א'
            #panel1a.content.active
                table(style="width: 100%; text-align: right")
                    thead
                        tr
                            th מספר
                            th שם
                            th נ"ז
                            th דירוג
                    tbody
                        tr
                            td 1
                            td קורס
                            td לא מספיק
                            td 0
        li.accordion-navigation
            a(href="#panel2a") שנה ב'
            #panel2a.content
                | a
        li.accordion-navigation
            a(href="#panel3a") שנה ג'
            #panel3a.content
                | a