.row
    h2 שם קורס
    ul.no-bullet
        .li <strong>חוג:</strong>
        .li <strong>סמסטר:</strong>
        .li <strong>סוג:</strong>
        .li <strong>שעות שבועיות:</strong>
        .li <strong>נקודות זכות:</strong>
        