#header
    img(src="img/huji logo.png")#huji-logo
    ul.no-bullet
        li#search-icon
            a(href="#").header-icon
                img(src="img/search.png")    
        li#logo-icon
            a(href="#").header-icon
                img(src="img/logo.png")
        li#profile-icon
            a(href="#").header-icon
                img(src="img/profile.png")
    form(style="display: none")#search-form
        input#search-bar