#header
    ul.no-bullet
        li
            a#search-icon(href="#").header-icon
                img(src="img/search.png")    
        li
            a#logo-icon(href="#").header-icon
                img(src="img/logo.png")
        li
            a#profile-icon(href="#").header-icon
                img(src="img/profile.png")